/* Getting rid of default margins */
html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* Images with this class will not resize */
.no_resize{
    max-width: 100%;
    max-height: 100%;
}

/* Header */
header{
    height: 90px;
    padding: 10px;
    background-color: #5E6E84;
    display: flex;
    justify-content: space-between;

}

    /* Main name text */
.title_name{
    margin: 0;
    font-size: 64px;
}


    /* Contact and Fun Stuff */
.menu_elements{
    display: flex;
    gap: 10px;
    list-style-type: none;
    font-size: 40px;
    
}
/* Header */




/* Intro Image */
.intro_block{
    height: 600px;
    background-color: lightgray;
    position: relative;
    background-image: url('images/moonriver.jpg');
    background-position: 0 34%;
    background-size: cover;
}
    /* background*/
.background{
    margin: 0;
    position: absolute;
    width: 100%;
    height: 600px;
}
        /* small profile image over the background */
.profile_container{
    margin: 0;
    position: relative;
    top: 25%;
    width: fit-content;
    height: fit-content;
    border-radius: 100%;
}
            /* transparent overlay */
.profile_overlay{
    position: absolute;
    background-color: gray;
    border-radius: 100em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}
            /* overlay text */
.profile_overlay h2{
    position: absolute;
    top: 40%;
    left: 20%;
    margin: 0;
    font-size: 3em;
    cursor: default;
}

.profile_container:hover .profile_overlay {
    opacity: 0.3;
  }

        /* button that goes to resume */
.resume{
    position: relative;
    top: 50%;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 23rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    }
    
.resume:hover,
.resume:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.resume:hover {
    transform: translateY(-1px);
}

.resume:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}


/* Intro Image */



/* Prior Work Block */
.prior_work_block{
    background-color: #ECECEC;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
    /* Title text */
.prior_work_title{
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    font-size: 64px;
}
    /* Image blocks: design, software, datavis */
.skill_block{
    display: flex;
    background-color: white;
    border-top-right-radius: 6rem;
    border-bottom-right-radius: 6rem;
    margin-left: -20px;
    padding: 20px;
    padding-right: 100px;
    width: 80%;
}

.skill_image{
    min-width: 700px;
    height: 400px;
    background-color: #33486D;
    border-radius: 6rem;
}

.skill_block_text{
    font-size: x-large;
    line-height: 40px;
}

#software{
    align-self: flex-end;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6rem;
    border-bottom-left-radius: 6rem;
    margin-left: 20px;
    margin-right: -20px;
    padding-right: 0;
    padding-left: 100px;
}

/* Prior Work Block */
